@use '../../partials/breakpoints' as *;
@use '../../partials/colors' as *;
@use '../../partials/textstyles' as *;

.header {
    &__container {
        background-image: 
            linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(73, 19, 117, 0.374)), 
            url('../../assets/images/header-img.jpg');
        width: 100%;
        background-size: cover;
        background-position: center;
        color: $dark_purple;
        font-family: 'Montserrat';
    }
    &__wrapper {
        position: relative;
        min-height: 100vh;
        margin: 0 auto;        
    }
    &__text {
        text-align: center;
        position: absolute;
        bottom: 0;
        right: 0;
        height: 25vh;
        @include tablet {
            height: 30vh;
            text-align: left;
            right: 30px;
        }
    }
    &__heading {
        margin: 0;
        font-weight: 400;
    }
    &__motto {
        font-weight: 400;
        font-style: italic;
    }
}