// montserrat straight
@font-face {
    font-family: 'Montserrat Extra Light';
    src: url('../assets/fonts/montserrat/Montserrat-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat Light';
    src: url('../assets/fonts/montserrat/Montserrat-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat Regular';
    src: url('../assets/fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat Medium';
    src: url('../assets/fonts/montserrat/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat Semi Bold';
    src: url('../assets/fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

// montserrat italic
@font-face {
    font-family: 'Montserrat Extra Light Italic';
    src: url('../assets/fonts/montserrat/Montserrat-ExtraLightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat Light Italic';
    src: url('../assets/fonts/montserrat/Montserrat-LightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat Italic';
    src: url('../assets/fonts/montserrat/Montserrat-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat Medium Italic';
    src: url('../assets/fonts/montserrat/Montserrat-MediumItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat Semi Bold Italic';
    src: url('../assets/fonts/montserrat/Montserrat-SemiBoldItalic.ttf') format('truetype');
}

// quicksand straight
@font-face {
    font-family: 'Quicksand Light';
    src: url('../assets/fonts/quicksand/Quicksand-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Quicksand Regular';
    src: url('../assets/fonts/quicksand/Quicksand-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Quicksand Medium';
    src: url('../assets/fonts/quicksand/Quicksand-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Quicksand Semi Bold';
    src: url('../assets/fonts/quicksand/Quicksand-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Quicksand Bold';
    src: url('../assets/fonts/quicksand/Quicksand-Bold.ttf') format('truetype');
}